@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?utxpky');
  src:  url('fonts/icomoon.eot?utxpky#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?utxpky') format('truetype'),
    url('fonts/icomoon.woff?utxpky') format('woff'),
    url('fonts/icomoon.svg?utxpky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-explain:before {
  content: "\e900";
  color: #fff;
}
