* {
    padding: 0;
    margin: 0;
}

.video-dialog {
    width: 1200px !important;
    height: 675px;
}

.video-dialog video  {
    width: 1200px;
    height: 675px;
}

.video-dialog .close {
    width: 30px;
    height: 30px;
    background-color: #aaa;
    border-radius: 50%;
    line-height: 24px;
    opacity: 1;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 3px solid #fff;
    color: #fff;
    position: relative;
    top: 15px;
    right: -15px;
    z-index: 999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} .video-dialog .close:hover {
    opacity: 1;
    color: #fff;
    background-color: #08c;
}